/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
    background-color: #242424;
    color: #fff;
  }

  .form-outline.form-white input.form-control {
    font-size: 14px;
  }

  /* Aggiungi stili per la selezione multipla Select2 */
.select2-container--default .select2-selection--multiple {
  border-radius: 0;
}

.select2-container .select2-selection--multiple .select2-selection__choice {
  color: #000 !important; /* Sostituisci con il colore desiderato per il testo */
}
.select2-container .select2-selection--multiple .select2-selection__choice,
  .select2-container .select2-results__option {
    color: #000 !important; /* Sostituisci con il colore desiderato per il testo */
  }

.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
  color: #808080 !important; /* Sostituisci con il colore desiderato per il testo */
}

/* Aggiungi margini per spaziatura tra le opzioni del filtro */
.shop-filter option {
  margin-bottom: 5px;
}
