.button-link {
    padding: 7px;
    background-color: #001F3F;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }

  .button-login {
    padding: 7px;
    background-color: #001F3F;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }

  .top-nav {
    background-color: #4B5155;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 15px;
  }