.button-link {
    padding: 7px;
    background-color: #001F3F;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }

  .button-login {
    padding: 7px;
    background-color: #001F3F;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }

  .top-nav {
    background-color: #C0504D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }