.profile-container {
  display: flex;
}

.profile-left-column {
  width: 35%;
  padding: 20px;
  background-color: #242424;
  border-radius: 5px;
  margin: 10px;
}

.profile-right-column {
  width: 65%;
  padding: 20px;
  margin: 10px;
  background-color: #242424;
  border-radius: 5px;
}
.wishlist {
  padding: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #242424;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}

.profile-picture {
  border-radius: 50%; /* Make the profile picture round */
  width: 100px; /* Adjust the size as needed */
  height: 100px;
}

.profile-button {
    padding: 7px;
    background-color: #C0504D;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.profile-button:hover {
  color: #ddd;
}

.separator{
  border: 3px solid;
  border-radius: 1px;
}

    h1 {
      text-align: center;
    }

.btn-delete {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  color: #C0504D;
  cursor: pointer;
}

.btn-delete:hover {
  color:crimson;
}

.custom-modal {
  background-color: #242424;
  border-color: #ffff;
  border-width: 2px;
}

.card-body {
  padding: 20px;
}