  <h1>GameSalesTracker.com</h1>
  
  Our blog has <%= Game.public_count %> articles and counting!
  
  <% @games.each do |game|%>
  <% unless game.archived? %>
  <li>
  <!-- %= QUANDO DEVO STAMPARE I VALORI DI RITORNO-->
  <%= link_to game.title , game%>
  </li>
  <% end %>
  <% end %>
  
  <%= link_to "New Game", new_game_path %>
  