<% if @games.present? %>
  <table>
    <thead>
      <tr>
        <th>Titolo</th>
        <th>Prezzo Attuale</th>
        <th>Dettagli</th>
      </tr>
    </thead>
    <tbody>
      <% displayed_titles = Set.new %>
      <% @games.each do |game| %>
        <% title = game['title'] %>
        <% unless displayed_titles.include?(title) %>
          <tr>
            <td><%= title %></td>
            <td><%= "%.2f" % game['price_new'] %></td>
            <td><%= link_to 'Dettagli', details_game_path(plain: game['plain']) %></td>
          </tr>
          <% displayed_titles.add(title) %>
        <% end %>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p>Risultati della ricerca:</p>
  <p>Nessun risultato trovato.</p>
<% end %>
